.DS_Store
/.build
/build
/Packages
xcuserdata/
DerivedData/
.derived/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.build/
Talkie.app/
VibeScrib.app/
VibeScribe.app/
Icon.icns
